*
    margin: 0
    padding: 0

html, body, #app
    height: 100%

.el-button
    width: 100px
//     height: 28px
//     line-height: 28px
//     font-size: 13px
//     padding: 0 8px
//     border-radius: 4px
//     font-weight: normal
//     border: none