@use './base'
    
*
    margin: 0
    padding: 0

body
    font: 14px/1.6 Arial,"Microsoft YaHei","黑体","宋体",sans-serif
    color: #333

html, body, #app
    height: 100%

.el-button
    width: 100px
    color: base.$theme-color
    border: 1px solid base.$theme-light-color
    background: #ffffff
    border-radius: 4px
    padding: 12px 20px

.el-button:hover
    color: #ffffff
    background-color: base.$theme-light-color

.el-button:focus
    color: #ffffff
    background-color: base.$theme-light-color

input
    line-height: 40px
    border: 1px solid #eaeaea
    padding: 0 10px
    border-radius: 4px
    outline: none

input:focus
    border-color: base.$theme-light-color

.el-input.is-active .el-input__inner, input.el-input__inner:focus, textarea.el-textarea__inner:focus
    border-color: base.$theme-light-color

ul.el-pager
    li.active, li:hover
        color: base.$theme-color

div.el-pagination button:hover
    color: base.$theme-color

a
    text-decoration: none
    color: #333333

@media (max-width: 500px)
    a
        cursor: none

    .el-message-box
        max-width: 375px